@page "/services"
@inject IJSRuntime js

<Banner contents="@contents" img="@bannerPath" />
<p class="sub-title">What we can <span style="color: var(--secondary-color)">offer</span> you.</p>
<div class="service-flex">
    <div class="service-container">
        @foreach (var service in Data.Services)
        {
            <a class="service-entry" @onclick="@(() => selectedService = selectedService == service ? null : service)">
                <img class="service-icon" src="@("../img/services/" + service.img)"/>
                <div class="service-title">
                    <p>@service.title</p>
                </div>  
            </a>
        }
    </div>
    @if (selectedService != null)
    {
        <div class="service-details">

        </div>
    }
</div>

@code {
    public string[] contents =
    {
        "Our Services"
    };

    public string bannerPath = "../img/banner_services.jpg";

    public Service? selectedService = null;

    protected override async Task OnInitializedAsync()
    {
        while (Data.Services.Count == 0)
        {
            await Task.Delay(10);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.visited)
        {
            Console.WriteLine("Rendered");
            await js.InvokeVoidAsync("Rendered", Navigation.duration);

            Navigation.visited = true;
        }

        if (firstRender)
        {
            await js.InvokeVoidAsync("FadeIn", Navigation.duration);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}