<div class="service-flex">
    <div class="service-container">
        <p class="service-sub-title">What we can <span style="color: var(--secondary-color)">offer</span> you.</p>
        @foreach (var service in Data.Services)
        {
            <a class="service-entry" @onclick="@(() => selectedService = selectedService == service ? null : service)">
                <img class="service-icon" src="@("../img/services/" + service.img)" />
                <div class="service-title">
                    <p>@service.title</p>
                </div>
            </a>
        }
    </div>
    @if (selectedService != null)
    {
        <div class="service-details">
            <hr />
            <div class="service-title">
                <p>@selectedService.title</p>
            </div>
            <p>@selectedService.description</p>
            <ul>
                @foreach (var item in selectedService.attributes)
                {
                    <li class="service-attribute">@item</li>
                }
            </ul>
        </div>
    }
</div>

@code {
    public Service? selectedService = null;

    protected override async Task OnInitializedAsync()
    {
        while (Data.Services.Count == 0)
        {
            await Task.Delay(10);
        }
    }
}
